<ul class="tags unstyled clearfix">
  <li class="tags-icon"><i class="icon-tags" title="主营业务"></i></li>
  <% businesses.each do |business| %>
      <li><code><%= link_to business.name, "b/"+business.name %></code></li>
  <% end %>
</ul>