<div class="row stores">
<% @stores.each do |store| %>
    <div class="span6">
      <%=render "stores/item", store: store %>
    </div>
<% end %>
</div>

<%= paginate @stores, :theme => 'bootstrap' %>