<p>
  背景图片
  <a href="javascript:void(0);" data-toggle="tooltip" title="美观大气的店铺背景图，可以从本机上传或者来自网络图片"><i class="icon-info-sign"></i></a>
</p>
<div>
  <ul class="nav nav-tabs">
    <li class="active"><a href="#img_tab1" data-toggle="tab">本地上传</a></li>
    <li><a href="#img_tab2" data-toggle="tab">网络图片</a></li>
    <!--li><a href="#img_tab3" data-toggle="tab">曾经使用</a></li-->
  </ul>
</div>
<div class="tab-content">
  <div class="tab-pane active" id="img_tab1">
    <form class="form-inline">
       <input type="file" name="image"/><button class="btn">上传</button>
    </form>
  </div>

  <div class="tab-pane" id="img_tab2">
    <form class="form-inline">
      <input type="text" id="image_url" name="image_url" placeholder="图片url"/>
      <button class="btn">确定</button>
    </form>
  </div>
</div>