// Place all the styles related to the stores controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.stores .store { border: #dadada 1px solid; padding: 10px; border-radius: 3px; margin-bottom: 10px; }
.stores .store .head-pic { float: left; }
.stores .store .head-pic img { border-radius: 3px; }
.stores .store .info { margin-left: 70px; }
.stores .store .tags li { float: left; font-size: 12px; }
.stores .store .tags a { color: #666; }

.new-store-form input[type="text"] { width: 410px; height: 20px; line-height: 19px; padding: 7px;  }
.new-store-form textarea { width: 410px; }

