<a href="" class="btn btn-info">看看朋友们的好东西</a>

<div>
  <p>我的店铺</p>
  <div><label>店铺名称</label><input value="" name="name"/></div>
  <div><label>主营业务</label><input value="" name="name"/></div>
  <div><label>店铺连接</label><input value="" name="name"/></div>
  <div><label>&nbsp;</label>+更多店铺</div>
  <div><button>确定</button></div>
</div>

<div>
  <p>好友店铺</p>
  <ul>
    <li>
      <div style="float: left;">
        <div>头像</div>
        ecbox
      </div>
      <div>
        <div>
          <div>店铺名称</div>
          <div>主营业务(可过滤)</div>
        </div>
      </div>
  </ul>
</div>


<div>
  <div>你想买什么？</div>
  <div><input name=""/><button>找找看</button></div>
</div>

<div>
  主营<strong>电话卡</strong>的亲们...
  <ul>
    <li>A</li>
    <li>B</li>
    <li>C->是你a朋友的->b朋友的朋友</li>
  </ul>
  <div>这里有我的朋友？<button>登录</button></div>
</div>

<div>
  我的消息
  <ul>
    <li>BB霜，能优惠吗？<small>来自xxx 2013-3-5</small>Email!</li>
  </ul>
</div>

<div>
  <a href="">告诉我的好朋友</a>
</div>

<div>
  <div>好友列表</div>
  <ul>
    <li>查看Ta好友的店铺</li>
  </ul>
</div>

<div>
  想要：<input name=""/>
</div>